<h1>後見人（ログインユーザー）情報</h1>
<div class="card">

<%= link_to "後見人情報の編集", edit_user_registration_path, class: "btn" %>          

 <div class="row">
    <span class="label">名前</span>
    <span class="value"><%= @user.name %></span>
 </div>

  <div class="row">
    <span class="label">メールアドレス</span>
    <span class="value"><%= @user.email %></span>
  </div>

</div>

<%= link_to "戻る", root_path, class: "btn btn-glay"%>
