<h1>ログインユーザー情報</h1>
<p>Find me in app/views/users/show.html.erb</p>
<div class="card">

<div class="row">
  <span class="label">名前</span>
  <span class="value"><%= @user.name %></span>
</div>

<div class="row">
  <span class="label">メールアドレス</span>
  <span class="value"><%= @user.email %></span>
</div>


<%= link_to "ユーザー情報の編集", edit_user_registration_path, class: "btn btn-mini" %>          

</div>

<%= link_to "戻る", user_path, class: "btn"%>
